<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+IN&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/public/assets/pig_1.png" type="image/x-icon">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title><%= pageTitle %></title>
    <style type="text/tailwindcss">
        @theme{
            --font-head: "Playwrite IN", serif;
            --color-brown: #644c44;
        }
    </style>
</head>