<header class="w-screen h-[10vh] px-[.5em] flex items-center justify-between bg-brown sticky top-[0] z-1000">
    <div class="font-head font-black text-white text-3xl p-[.5em]">Swine <span> marketplace</span> </div>
    <nav class="w-1/4">
        <ul class="flex justify-evenly items-center text-white">
            <li class="nav-item"><a href="/">Shop</a></li>
            <li class="nav-item"><a href="/admin/add-product">Add product</a></li>
        </ul>
    </nav>
</header>