<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/main.css">
    <title>Add product</title>
</head>
<body>
    <header>
        <div class="title">Swine <span> marketplace</span> </div>
        <nav class="nav-cont">
            <ul class="nav-item-cont">
                <li class="nav-item"><a href="/">Shop</a></li>
                <li class="nav-item"><a class="active" href="/admin/add-product">Add product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/admin/product" method="post">
            <input type="text" name="title" id="title">
            <button type="submit">Add product</button>
        </form>
    </main>
</body>
</html>