<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/main.css">
    <title>My shop</title>
</head>
<body>
    <header>
        <div class="title">Swine <span> marketplace</span> </div>
        <nav class="nav-cont">
            <ul class="nav-item-cont">
                <li class="nav-item"><a class="active" href="/">Shop</a></li>
                <li class="nav-item"><a href="/admin/add-product">Add product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>My products</h1>
        <p>List of all products....</p>
    </main>
    
</body>
</html>