doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/public/styles/main.css")
        title Swine marketplace
    body 

    // Navigation bar
    header
        .title Swine
            span marketplace
        nav
            ul
                li
                    a(href="/") Shop
                li
                    a(href="/admin/add-product") Add products